<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epay-{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/nav.css' %}" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="nav">

    </div>

    <div class="footer">
        <p><br />Copyright  (C) Epay<br /></p>
    </div>
</div>
</body>
</html>